node_modules
**/node_modules
**/dist
**/.next
.turbo
**/.turbo
**/*.tsbuildinfo
storage
coverage
**/coverage
playwright-report
test-results
.vercel
.git
.env
**/.env
!**/.env.example
docs
.agents
*.log
